<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-direction
          [origin]="origin"
          [destination]="destination"
          [renderOptions]="renderOptions"
          [markerOptions]="markerOptions"
          (onResponse)="onResponse($event)" >
        </agm-direction>
      </agm-map>
      <h5>Client address: {{ destination }}</h5>
      <h5>Driver location: lattitude {{ origin.lat }}, longitude {{ origin.lng }}</h5>
      <h5>Estimate of arrival: {{ duration }}</h5>
    </div>
  </div>
</div>
